*.a
*.bundle
*.dbf
*.gem
*.o
*.rbc
*.shx
*.so
*.sqlite
*.swp
*.xml
*.xsd

.bundle
.byebug_history
.config
.idea/
.vscode/
.rake_tasks
.tags
.yardoc

.ruby-version

Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
mkmf.log
open-datasets-dump
pkg
rdoc
spec/examples.txt
spec/reports
tags
test/tmp
test/version_tmp
tmp/*
valgrind_output.log
vendor/bundle
vendor/sigs

.odo
